li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
}

.beer-name {
    font-weight: bold;
}

.beer-id {
    font-style: italic;
    font-size: 12px;
    text-align: left;
}

button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
}

button:hover {
    text-decoration: underline;
}
